@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scrollbar Customizada */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Thumb (Barra) no Modo Claro */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1; /* slate-300 */
    border-radius: 20px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8; /* slate-400 */
  }

  /* Thumb (Barra) no Modo Escuro */
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #334155; /* slate-700 */
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #475569; /* slate-600 */
  }
}