@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scrollbar Customizada com as cores de PE */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Thumb (Barra) - Azul Marinho da Identidade */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #0F3B82; 
    border-radius: 20px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #4800BC; /* Roxo ao passar o mouse */
  }

  /* Thumb (Barra) no Modo Escuro - Ciano para destaque */
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #0F3B82;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #00C3E3;
  }
}